/***********
ANIMACIONES
************/
@import "variables";

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.grow
   {
    &:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.05);
    }
   } 
   .btn
    {   
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 40px;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            position: absolute;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            color: $color-blanco;

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }
   .btn-white {
       background-color: $color-amarillo;
       color: $color-blanco;

       &::after {
        background-color: #fff;
    }
   }
     
   .btn-animated {
       animation: moveInBottom 5s ease-out;
       animation-fill-mode: backwards;
   }

   .swal-overlay {
    background-color: rgba(237, 254, 250, 0.749);
  }

  .swal-modal {
    background-color: white;
    border: 1px solid black;
  }

  .swal-text {
      font-size: 18px;
      color: black;
      font-family: $fuente-dos;
      text-align: center;
      font-weight: 900;
  }
  .swal-title {
    font-size: 25px;
      color: black;
      font-family: $fuente-dos;
      text-align: center;
      font-weight: 900;
  }
  .swal-button--catch {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: $color-rojo-oscuro;
    font-size: 15px;
    border: 1px solid $color-rojo-oscuro;
    color: white;}

    .swal-button:hover {
        background-color:$color-amarillo;
        color: black;
    }
  
