<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="servicios de catering, catering, fiesta, casamiento, fiesta de 15"/>
    <meta name="description" content="Sumamos 10 años de experiencia en eventos familiares, sociales y empresariales. Brindamos Servicios de Catering en Córdoba, Gran Córdoba y resto del país. Contamos para ello con logística y equipamientos propios para prestar nuestros servicios en cualquier punto del país. Entre nuestros servicios, ofrecemos la organización integral de eventos de todo tipo.">
    <title> Contacto - AMBROSÍA - Servicios de Catering </title>
    <link rel="stylesheet" href="../bootstrap-4.0.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../style/styleproyect.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>
<body>
    <script>
        AOS.init();
        </script>
    <header>
        <img src="../assets/img/AMBROSÍA.png" class="imgLogoPrincipal container-fluid">

        <nav class="navbar navbar-expand-sm navbar-light bg-light " >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
                <li id="invisible" class="nav-item"> </a></li>
                <li id="invisible" class="nav-item"></a></li>
                <li class="nav-item"> <a href="../index.html" > INICIO </a></li>
                <li class="nav-item"> <a href="./nosotros.html" > EMPRESA </a> </li>
                <li class="nav-item"><a href="./servicios.html" > SERVICIOS </a> 
                <li class="nav-item"> <a href="./galeria.html"> GALERIA </a> </li>
                <li class="nav-item"> <a href="./contacto.html"> CONTACTO </a> </li>
            </ul>
            </div>
            </nav>
        <img data-aos="fade-right" data-aos-duration="1200"src="../assets/img/bannerC.png" class="header_banner">

    </header>
   
    <section data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-once="true"class="container-fluid">
        <div class="row seccion padding2 grow">
            <div class="col-sm-10 col-md-3">
                <div class="row">
                    <div id="invisible"class="col-md-1"> <img src="../assets/img/informacion.png" id="iconoInfo" class="icono2 fotosresponsive "> </div>
                    <div class="col-md-3"><h3>INFORMACIÓN CONTACTO</h3> </div>
                </div>
                <div id="invisible" class="row">
                    <div class="col-md-1"> <img src="../assets/img/location.png" id="icono2"" class="icono2"> </div>
                    <div class="col-md-3"><p id="textoGrilla1">Córdoba Argentina</p>  </div>
                </div>
                <div id="invisible" class="row">
                    <div class="col-md-1"> <img src="../assets/img/email.png" id="icono3" class="icono2"></div>
                    <div class="col-md-3"><p id="textoGrilla2">correo@empresarial.com</p>  </div>
                </div>       
            </div>
            <div class="col-sm-10 col-md-7">
                <form class="container-fluid">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
        
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido">
        
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
        
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono">
        
                    <label for="fecha">Fecha del evento</label>
                    <input type="date" id="fecha" name="fecha">
        
                    <label for="descripción">Contanos brevemente qué tenés pensado para tu evento</label>
                    <input type="text" style="WIDTH: 100%; HEIGHT: 98px" id="descripción" name="descripción"><br><br>
        
                    <a href="./contacto.html" class="btn btn-white btn-animate">ENVIAR</a>
                </form>
            </div>
        </div> 
         </section>       

        

         <footer class="container-fluid">
            <div class="row footer">
                <div id="invisible" class="col-md-1 "></div>
                <div  class="col-md-2">
                    <div class="row">
                        <h6>CATERING</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-1-xs-9">
                            <img src="../assets/img/cbaconvencion.png" class="fotosCarousel fotosresponsive">
                        </div>
                        <div class="col-md-1-xs-9">
                            <img src="https://cdn1.casamientos.com.ar/img/badges/2019/badge-weddingawards_es_AR.jpg" class="fotosCarousel fotosresponsive">
                        </div>
                    </div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div  class="col-md-1">
                    <div class="row"> <h6>SERVICIOS</h6> </div>
                    <div class="row"><a href="./serviciosempresariales.html" class="enlaceFooter"> CATERING EMPRESARIAL </a> </div>
                    <div class="row"><a href="./serviciossociales.html" class="enlaceFooter"> CATERING FAMILIAR </a></div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div  class="col-md-1">
                    <div class="row"> <h6>EMPRESA</h6> </div>
                    <div class="row"><a href="./nosotros.html" class="enlaceFooter"> SOBRE NOSOTROS </a></div>
                    <div class="row"><a href="./galeria.html" class="enlaceFooter"> GALERÍA </a> </div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div id="invisible" class="col-md-1">
                    <div class="row"> <h6>INFO DE CONTACTO</h6> </div>
                    <div class="row"><p class="textoFooter">CÓRDOBA ARGENTINA</p></div>
                    <div class="row"><p class="textoFooter">CORREO@EMPRESARIAL.COM</p></div>
                </div>
             </div>   
             <div class="row footer">
                <div class=" col-xs-12 col-md-12"><p class="center textoFooter2"> Copyright 2020 Catering & Eventos | Todos los Derechos Reservados | All Rights Reserved</p></div>
            </div>
                
            </footer>
    </body>
    </html>