<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../style/style.css" />

</head>
<body>
    <header>
        <img src="../assets/img/AMBROSÍA.png" class="imgLogoPrincipal">
        <nav>
        <ul>
            <li> <a href="../index.html"> INICIO </a></li>
            <li> <a href="nosotros.html"> EMPRESA </a> </li>
            <li> <a href="servicios.html"> SERVICIOS </a> </li>
            <li> <a href="galeria.html"> GALERIA </a> </li>
            <li> <a href="contacto.html"> CONTACTO </a> </li>
        </ul>
        </nav>
    </header>
   
        <img src="../assets/img/bannerG.png" class="header_banner">

    <!-- mi idea sobre esta página es que se divida de la siguiente manera
         *primero que se divida por tipo de catering y barra de tragos (como voy a realizar en las secciones ahora)
         * a su vez, dentro de cada catering haya una imagen por tipo de evento ( por ejemplo, una imagen por casamiento, otra por fiesta de 15, etc) y que cuando se haga click en la imagen se abra el album de fotos de ese tipo de evento
             nose si me explico bien pero espero a medida que pasen las clases poder representarlo-->

    <section>
        <h3>GALERÍAS CATERING EMPRESARIAL</h3>
        <img src="../assets/img/catering-empresarial-servicios-3 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/catering-empresarial-servicios-2 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/catering-empresarial-servicios-8 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/catering-empresarial-servicios-9 (1).jpg" class="fotosCarousel">
    </section>
    <section>
        <h3>GALERÍAS CATERING FAMILIAR & SOCIAL</h3>
        <img src="../assets/img/catering-social-servicios-3 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/servicios-catering-casamientos-1 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/catering-social-servicios-6 (1).jpg" class="fotosCarousel">
        <img src="../assets/img/catering-social-servicios-2 (1).jpg" class="fotosCarousel">
    </section>
    <section>
        <h3>BARRA DE TRAGOS</h3>
        <img src="../assets/img/barras-7 (1).jpg ">

    </section>

    <section class="seccion center">
        <div>
        <h2 class="center">¿NECESITÁS ASESORAMIENTO INMEDIATO?</h2> 
        <button>LLAMANOS AHORA</button> <!--la idea del botón es que redireccione a la página contacto.html-->
        </div>
    </section>

    <footer>
        <section class="sectionFooter">
            <div>
                <h6>CATERING</h6>
                <img src="../assets/img/cbaconvencion.png" class="fotosCarousel">
                <img src="https://cdn1.casamientos.com.ar/img/badges/2019/badge-weddingawards_es_AR.jpg" class="fotosCarousel">
            </div>
            <div>
                <h6>SERVICIOS</h6>
                <ul>
                  <li> <a href="./serviciosempresariales.html" class="enlaceFooter"> CATERING EMPRESARIAL </a> </li>
                   <li><a href="./serviciossociales.html" class="enlaceFooter"> CATERING FAMILIAR </a> </li>
                </ul>
            </div>
            <div>   
                <ul> 
                    <h6>EMPRESA</h6>
                    <li><a href="./nosotros.html" class="enlaceFooter"> SOBRE NOSOTROS </a></li>
                    <li><a href="./galeria.html" class="enlaceFooter"> GALERÍA </a> </li>
                </ul>
            </div>    
            <div>
                    <h6>INFO DE CONTACTO</h6>
                    <!--logo-->
                    <p class="textoFooter">CÓRDOBA ARGENTINA</p>
                    <!--logo-->
                    <p class="textoFooter">CORREO@EMPRESARIAL.COM</p> 
                    <!--rrss-->
            </div>        
        </section>
        <section class="textoFooter2">
            <p class="center"> Copyright 2020 Catering & Eventos | Todos los Derechos Reservados | All Rights Reserved</p>
        </section>        
    </footer>
</body>
</html>