<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="servicios de catering, catering, fiesta, casamiento, fiesta de 15"/>
    <meta name="description" content="Sumamos 10 años de experiencia en eventos familiares, sociales y empresariales. Brindamos Servicios de Catering en Córdoba, Gran Córdoba y resto del país. Contamos para ello con logística y equipamientos propios para prestar nuestros servicios en cualquier punto del país. Entre nuestros servicios, ofrecemos la organización integral de eventos de todo tipo.">
    <title> Servicios Empresariales - AMBROSÍA - Servicios de Catering </title>
    <link rel="stylesheet" href="../bootstrap-4.0.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../style/styleproyect.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</head>
<body>
    <script>
        AOS.init();
        </script>
    <header>
        <img src="../assets/img/AMBROSÍA.png" class="imgLogoPrincipal container-fluid">

        <nav class="navbar navbar-expand-sm navbar-light bg-light " >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
                <li id="invisible" class="nav-item"> </a></li>
                <li id="invisible" class="nav-item"></a></li>
                <li class="nav-item"> <a href="../index.html" > INICIO </a></li>
                <li class="nav-item"> <a href="./nosotros.html" > EMPRESA </a> </li>
                <li class="nav-item"><a href="./servicios.html" > SERVICIOS </a> 
                <li class="nav-item"> <a href="./galeria.html"> GALERIA </a> </li>
                <li class="nav-item"> <a href="./contacto.html"> CONTACTO </a> </li>
            </ul>
            </div>
            </nav>
        <img data-aos="fade-right" data-aos-duration="1200" src="../assets/img/bannerSE.png" class="header_banner">

    </header>
   
    <section data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-once="true"class="container-fluid">
        <div class="row seccion padding2 grow">
            <div data-aos="fade-right" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-5"> <img src="../assets/img/catering-empresarial-servicios-10.jpg" class="fotosCarousel fotosresponsive" > </div>
            <div id="invisible" class="col-md-1"></div>

            <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-5">
                <h5>CATERING</h5>
                <h3>CATERING EVENTOS ENPRESARIALES </h3>
                <p>Brindamos soluciones para empresas en sus eventos. Analizamos cada caso y elaboramos propuestas de calidad que transmitan el concepto en cada detalle. Optimizamos los espacios disponibles y adaptamos los menús para a cada situación.</p>  
                <p>Prestamos un servicio de excelencia en atención y en calidad de productos, para que la empresa transmita pregnancia a sus clientes, proveedores y/o empleados. Contamos con alternativas para todas las ocasiones y además desarrollamos menús personalizados según requerimientos de cada cliente. Colores, ingredientes, presentaciones acordes a la marca, el producto o la temática del evento.</p>
                <p>Estamos presentes y atentos en el momento en que nada puede fallar, y es nuestro principal objetivo cumplir con esta premisa. Tenemos capacidad para resolver las urgencias empresariales que puedan surgir. Eventos de último momento, reuniones, almuerzos, coffees, desayunos y otras ocasiones en la que podemos resolver un imprevisto. Ofrecemos organización integral y contamos con una red de proveedores para atender diversas demandas.</p> 
            </div>
            <div id="invisible" class="col-md-1"></div>
        </div>
        </section>

        <section data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-once="true"class="container-fluid">
        <div class="row seccion padding2 grow">
            <div class="col">
                <div class="row">
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-3 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-6">
                        <h4>DESAYUNOS, MERIENDAS, COFFEE BREAKS</h4>
                            <p>Son las ocasiones más utilizadas por empresas para todo tipo de actividad: presentaciones, congresos, capacitaciones, conferencias de prensa, jornadas de trabajo, entre otras. En Mariani SG desarrollamos alternativas de servicio, y también la posibilidad de personalizarlo de acuerdo al evento, el lugar, la cantidad de invitados y los destinatarios. 
                        </p><p>Contamos con alternativas para atender eventos empresariales que abarcan una o más jornadas propiamente dichas: capacitaciones, visitas, exposiciones, lanzamientos, o cualquier evento que requiera varios menús: desayuno, coffee, almuerzo, viandas saludables, coffee continuo, cóctel de cierre, etc.</p>
                    </div>
                </div>
                <div class="row">
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"id="invisible2" class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-2 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-6">
                        <h4>ALMUERZOS Y CENAS FORMALES</h4>
                        <p>Esta opción es ideal para almuerzos o cenas formales; reuniones laborales privadas, protocolares, cenas benéficas, fiestas de fin de año, visitas importantes, cierre de convenio, o grandes festejos. Ofrecemos una carta con diferentes menús gourmet con los pasos tradicionales; entrada, plato principal y postre, o bien, algo más original con menús de más pasos que armamos en conjunto con la empresa y nuestro cheff, de acuerdo al evento y a las necesidades.
                        </p> <p>Contamos con opciones informales muy completas. Compuestas con recepción de tapas frías y calientes emparentadas con la temática, con postres, todo elaborado con materia prima de primera calidad. Además acompañadas por gaseosas y cerveza.
                        </p>
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"id="invisible"class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-2 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                </div>
                <div class="row">
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-8 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-6">
                        <h4>AFTER OFFICE</h4>
                                <p>Cada vez son más la empresas que utilizan esta modalidad para encuentros con clientes, proveedores y para agasajar a sus empleados o festejar ocasiones especiales. El After brinda una espacio de distensión, calidez y confianza ideales para crear y fortalecer vínculos. La posibilidad de personalizar menú, tragos y presentaciones ayudan al momento de transmitir un concepto o mostrar un producto en este tipo de reuniones.
                        </p> <p>El cóctel es un espacio de mucha interacción social y suele darse en lugares no siempre óptimos para el servicio, por lo que el menú debe ser pensado de acuerdo al lugar y al timming del evento. Para esta alternativa, ofrecemos menús elaborados donde cada etapa acompaña el momento, además de buenos vinos, champaña y algunos tragos clásicos, si la ocasión lo permite.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"id="invisible2" class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-9 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"class="col-md-6">
                        <h4>FIESTAS DE FIN DE AÑO</h4>
                        <p>Uno de los momentos más importantes en el año para la empresa no se puede dejar librado al azar. Sin importar la cantidad de invitados, tenemos experiencia en fiestas desde 50 hasta 3500 personas. En Mariani SG te ofrecemos servicio de Organización Integral de Eventos, Catering y Barras de Tragos; el soporte para que puedas organizar la fiesta de tu empresa con el mínimo nivel de preocupación.
                        </p> <p>Un menú que es ideal para jornadas de capacitación outdoor, reuniones ejecutivas, fiestas de fin de año, recepción de clientes o colegas del extranjero, o para festejar logros. Ya sea una reunión exclusiva para un grupo reducido o un evento masivo, contamos con el equipamiento para realizarlo en cualquier lugar.
                        </p>
                    </div>
                    <div data-aos="fade-down" data-aos-delay="400" data-aos-duration="800"data-aos-once="true"id="invisible"class="col-md-5">
                        <img src="../assets/img/catering-empresarial-servicios-9 (1).jpg" class="fotosCarousel fotosresponsive">
                    </div>
                </div>
            </div>
        </div>
        </section>

   
        <section data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-once="true"id="invisible"class="container-fluid">
            <div class="row seccion padding2 padding3 grow">
             <div class="col">
                 <div class="row">
                     <h2 class="center h2responsive">¿NECESITÁS ASESORAMIENTO INMEDIATO?</h2> 
                 </div>
                 <div class="row">
                     <div class="col-md-4"></div>
                     <div class="col-md-4"><a href="./contacto.html" class="btn btn-white btn-animate">LLAMANOS AHORA</a> </div> 
                     <div class="col-md-4"></div>
                 </div>
                 </div>
         </div>
         </section>
    
         <footer class="container-fluid">
            <div class="row footer">
                <div id="invisible" class="col-md-1 "></div>
                <div  class="col-md-2">
                    <div class="row">
                        <h6>CATERING</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-1-xs-9">
                            <img src="../assets/img/cbaconvencion.png" class="fotosCarousel fotosresponsive">
                        </div>
                        <div class="col-md-1-xs-9">
                            <img src="https://cdn1.casamientos.com.ar/img/badges/2019/badge-weddingawards_es_AR.jpg" class="fotosCarousel fotosresponsive">
                        </div>
                    </div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div  class="col-md-1">
                    <div class="row"> <h6>SERVICIOS</h6> </div>
                    <div class="row"><a href="./serviciosempresariales.html" class="enlaceFooter"> CATERING EMPRESARIAL </a> </div>
                    <div class="row"><a href="./serviciossociales.html" class="enlaceFooter"> CATERING FAMILIAR </a></div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div  class="col-md-1">
                    <div class="row"> <h6>EMPRESA</h6> </div>
                    <div class="row"><a href="./nosotros.html" class="enlaceFooter"> SOBRE NOSOTROS </a></div>
                    <div class="row"><a href="./galeria.html" class="enlaceFooter"> GALERÍA </a> </div>
                </div>
                <div id="invisible" class="col-md-1"></div>
                <div id="invisible" class="col-md-1">
                    <div class="row"> <h6>INFO DE CONTACTO</h6> </div>
                    <div class="row"><p class="textoFooter">CÓRDOBA ARGENTINA</p></div>
                    <div class="row"><p class="textoFooter">CORREO@EMPRESARIAL.COM</p></div>
                </div>
             </div>   
             <div class="row footer">
                <div class=" col-xs-12 col-md-12"><p class="center textoFooter2"> Copyright 2020 Catering & Eventos | Todos los Derechos Reservados | All Rights Reserved</p></div>
            </div>
                
            </footer>
    </body>
    </html>