<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="servicios de catering, catering, fiesta, casamiento, fiesta de 15"/>
    <meta name="description" content="Sumamos 10 años de experiencia en eventos familiares, sociales y empresariales. Brindamos Servicios de Catering en Córdoba, Gran Córdoba y resto del país. Contamos para ello con logística y equipamientos propios para prestar nuestros servicios en cualquier punto del país. Entre nuestros servicios, ofrecemos la organización integral de eventos de todo tipo.">
    <title> Tienda - AMBROSÍA - Servicios de Catering </title>
    <link rel="stylesheet" href="../bootstrap-4.0.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../style/styleproyect.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

</head>
<body>
    <script>
        AOS.init();
        </script>


    <header>
        <img src="../assets/img/AMBROSÍA.png" class="imgLogoPrincipal container-fluid">

        <nav class="navbar navbar-expand-sm navbar-light bg-light " >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
                <li id="invisible" class="nav-item"> </a></li>
                <li id="invisible" class="nav-item"></a></li>
                <li class="nav-item"> <a href="../index.html" > INICIO </a></li>
                <li class="nav-item"> <a href="./nosotros.html" > EMPRESA </a> </li>
                <li class="nav-item"><a href="./servicios.html" > SERVICIOS </a> 
                <li class="nav-item"> <a href="./tienda.html"> TIENDA </a> </li>
                <li class="nav-item"> <a href="./contacto.html"> CONTACTO </a> </li>
                <li id="invisible" class="nav-item"> </a></li>
                <li id="invisible" class="nav-item"></a></li>
            </ul>
            </div>
            </nav>
        <img data-aos="fade-right" data-aos-duration="1200"src="../assets/img/NUESTROS.png" class="header_banner">

    </header>
    <section>
        <br>            <br>

    </section>
    <section >
        <div class="row">
            <div class="col-2 filtrosmenu" id="listadocarrito">
                <br><h4> LISTADO CARRITO </h4>
                
                
            </div>
            <div class="col-9">
                <div class="row productosmenu" id="listadoproductos">
                    
                </div>            
            </div>
        </div>
    </section>
    <section >
        <div class="row ">
            <div class="col-2 filtrosmenu"></div>
            <div class="col-9 totalmenu">
                <div class="row ">
                        <div class="col-6 totalmenu"></div>
                        <div class="col-3 totalmenu">
                                    <br> <br><p  class="totalCarrito"> TOTAL: $<p id="totalcarrito" class="totalCarrito"> 0</p> </p>
                                    <button class="botonborrarcarrito" id="borrarCarrito">BORRAR CARRITO</button>
                                    <button class="botoncomprar" id="comprar">COMPRAR</button>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section>
            <br><br>
    </section>

    <footer class="container-fluid">
        <div class="row footer">
            <div id="invisible" class="col-md-1 "></div>
            <div  class="col-md-2">
                <div class="row">
                    <h6>CATERING</h6>
                </div>
                <div class="row">
                    <div class="col-md-1-xs-9">
                        <img src="../assets/img/cbaconvencion.png" class="fotosCarousel fotosresponsive">
                    </div>
                    <div class="col-md-1-xs-9">
                        <img src="https://cdn1.casamientos.com.ar/img/badges/2019/badge-weddingawards_es_AR.jpg" class="fotosCarousel fotosresponsive">
                    </div>
                </div>
            </div>
            <div id="invisible" class="col-md-1"></div>
            <div  class="col-md-1">
                <div class="row"> <h6>SERVICIOS</h6> </div>
                <div class="row"><a href="./serviciosempresariales.html" class="enlaceFooter"> CATERING EMPRESARIAL </a> </div>
                <div class="row"><a href="./serviciossociales.html" class="enlaceFooter"> CATERING FAMILIAR </a></div>
            </div>
            <div id="invisible" class="col-md-1"></div>
            <div  class="col-md-1">
                <div class="row"> <h6>EMPRESA</h6> </div>
                <div class="row"><a href="./nosotros.html" class="enlaceFooter"> SOBRE NOSOTROS </a></div>
                <div class="row"><a href="./tienda.html" class="enlaceFooter"> TIENDA </a> </div>
            </div>
            <div id="invisible" class="col-md-1"></div>
            <div id="invisible" class="col-md-1">
                <div class="row"> <h6>INFO DE CONTACTO</h6> </div>
                <div class="row"><p class="textoFooter">CÓRDOBA ARGENTINA</p></div>
                <div class="row"><p class="textoFooter">CORREO@EMPRESARIAL.COM</p></div>
            </div>
         </div>   
         <div class="row footer">
            <div class=" col-xs-12 col-md-12"><p class="center textoFooter2"> Copyright 2020 Catering & Eventos | Todos los Derechos Reservados | All Rights Reserved</p></div>
        </div>
        </footer>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../js/codigojs.js"></script>
</body>

</html>